<h1>Mis Productos</h1>

<div class="contenedorCards">
    {{#each productos}}
    <div class="card">
        <p>{{title}} </p>
        <p>{{description}} </p>
        <p>Price: ${{price}}</p>
    <p>Category: {{category}} </p>
    <button> Agregar al Carrito </button>
    </div>
    {{/each}}
</div>

{{#if hasNextPage}}
    <a href="/products?page={{nextPage}}"> Siguiente </a>
{{/if}} 
{{#if hasPrevPage}}
    <a href="/products?page={{prevPage}}"> Anterior </a>
{{/if}}

<p>Pagina {{currentPage}} de {{totalPages}} </p>

